version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: project2_backend
    ports:
      - "8001:8001"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - mongo
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload
    networks:
      - mainnet

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: project2_frontend
    ports:
      - "3001:3001"
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - mainnet

  data-pipeline:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: data_pipeline
    volumes:
      - ./backend:/app
    restart: unless-stopped
    depends_on:
      - mongo
    working_dir: /app
    environment:
      - PYTHONPATH=/app
    command: python -m app.text_data_collection.data_pipeline
    networks:
      - mainnet

  mongo:
    image: mongo:6.0
    container_name: project2_mongo_db
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - mainnet

volumes:
  mongo_data:

networks:
  mainnet:
    external: true
