

services:
  # --------------------
  # Backend
  # --------------------
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile 
    container_name: research_backend
    ports:
      - "8001:8001"
    restart: unless-stopped
    environment:
      - PYTHONUNBUFFERED=1
      - MONGO_URI=mongodb+srv://research:user@cluster0.sc4zaj7.mongodb.net/research_db?appName=Cluster0
    depends_on:
      - mongo
    command: uvicorn app.main:app --host 0.0.0.0 --port 8001 --reload
    networks:
      - mainnet

  # --------------------
  # Frontend
  # --------------------
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: research_frontend
    ports:
      - "3001:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    restart: unless-stopped
    depends_on:
      - backend
    networks:
      - mainnet

  # --------------------
  # Ollama
  # --------------------
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
      - ./ollama/start-ollama.sh:/start-ollama.sh
    restart: unless-stopped
    entrypoint: ["/start-ollama.sh"]
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    networks:
      - mainnet

  # --------------------
  # MongoDB
  # --------------------

  weaviate:
    image: semitechnologies/weaviate:1.33.0
    ports:
      - "8080:8080"
    environment:
      ENABLE_MODULES: 'text2vec-ollama'
      DEFAULT_VECTORIZER_MODULE: 'text2vec-ollama'
      OLLAMA_API_ENDPOINT: 'http://ollama:11434'
      QUERY_DEFAULTS_LIMIT: 25
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      CLUSTER_HOSTNAME: 'node1'
    volumes:
      - ./weaviate_data:/var/lib/weaviate
    depends_on:
      - ollama

  mongo:
    build:
      context: ./mongo
      dockerfile: Dockerfile
    container_name: research_mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: research
      MONGO_INITDB_ROOT_PASSWORD: user
      MONGO_INITDB_DATABASE: research_db
    volumes:
      - mongo_data:/data/db
      - ./mongo/policies.json:/docker-entrypoint-initdb.d/policies.json
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval 'db.runCommand({ ping: 1 })' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
    networks:
      - mainnet

volumes:
  mongo_data:
  ollama_data:

networks:
  mainnet:
    external: false
