fastapi
uvicorn[standard]
pandas
numpy
# torch
# transformers
scikit-learn
tensorflow
requests
yfinance
praw
openai
pymongo
sqlalchemy
python-dotenv
langchain
langchain-community
langchain-core
langgraph
langchain-google-genai

