fastapi
uvicorn[standard]
pandas
numpy
tqdm
motor
pymongo
# scikit-learn
# tensorflow
feedparser
beautifulsoup4
lxml
requests
snscrape
praw
openai
langchain
langchain-core
langchain-community
langchain-google-genai
python-dotenv
apscheduler
pydantic>=2.5.3,<3.0.0
ollama
httpx

