fastapi
uvicorn[standard]
pandas
numpy
scikit-learn
tensorflow
requests
yfinance
praw
openai
pymongo
sqlalchemy
python-dotenv
langchain
langchain-community
langchain-core
langchain-google-genai
pydantic>=2.5.3,<3.0.0
